body, html {
	margin: 0;
}

#output {
	float: left;
	width: 50vw;
	height: 100vh;
}

#input {
	height: 100vh;
	overflow: auto;
	border-left: 3px solid #545454;
	padding: 2vh 15px;
}

.btn {
	border: none;
	background: #189ad3;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}
.btn:hover {
	background: #107dac;
}

.head {
	margin: -2vh -15px 0;
	padding: 1vh 15px;
	background: #ebebeb;
	text-align: center;
}

.section-head {
	margin: 0 -15px;
	padding: 0.5vh 15px;
	background: #005073;
	color: #fff;
}

.section {
	margin: 2vh 0;
}

pre, code {
	width: 0;
	height: 0;
	visibility: hidden;
	margin: 0px!important;
	padding: 0px!important;
    border: none!important;
}

.alert {
    padding: 15px;
    margin-bottom: 0px!important; 
    border: 1px solid transparent;
    border-radius: 0px!important; 
}