body, html {
	margin: 0;
}

#output {
	float: left;
	width: 50vw;
	height: 100vh;
}

#input {
	height: 100vh;
	overflow: auto;
	border-left: 3px solid #545454;
	padding: 2vh 15px;
}

.head {
	margin: -2vh -15px 0;
	padding: 1vh 15px;
	background: #ebebeb;
	text-align: center;
}

.section-head {
	margin: 0 -15px;
	padding: 0.5vh 15px;
	background: #005073;
	color: #fff;
}

.item-head {
	margin: 0 -15px;
	padding: 0.5vh 15px;
	background: #009073;
	color: #fff;
}

.menu, .item-body {
	margin: 2vh 0;
}

.items-wrapper {
	margin: 0 0 2vh;
}

pre, code {
	width: 0;
	height: 0;
	visibility: hidden;
	margin: 0;
	padding: 0;
    border: none;
}

.overlay {
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	z-index: 998;
}

.overlay h2 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}

label {
	padding-right: 10px;
}

@media screen and (max-width: 800px) {
	.overlay {
		display: block;
	}
}